<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zettel"> <!-- Ваша тема может называться иначе -->

        <!-- 1. СТАРТОВЫЙ ЭКРАН ТЕПЕРЬ ЗАПУСКАЕТСЯ ПЕРВЫМ -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Оригинальный MainActivity (Карточки на весь экран) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".TopicActivity" />

        <!-- 3. Экран ТЕМ -->
        <activity
            android:name=".TopicActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />

        <!-- 4. Экран повторения слов (список) -->
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />

        <!-- Экран режима тестирования -->
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".StartActivity" />

        <!-- Экран игры с артиклями "Der, Die, Das" -->
        <activity
            android:name=".ArticlesGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".StartActivity" />



    </application>

</manifest>